<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webgl-cube</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <canvas id="myCanvas"></canvas>
    <!-- 片元着色器程序 -->
    <script id="shader-fs" type="x-shader/x-fragment">    
        precision mediump float;
        uniform vec3 u_LightColor;
        uniform vec3 u_LightPosition;
        uniform vec3 u_AmbientLight;
        varying vec3 v_Position;//变换后的顶点坐标
        varying vec4 v_Color;
        varying vec3 v_Normal;//变换后的法向量
        void main() {
            vec3 normal = normalize(v_Normal);
            vec3 lightDirection = normalize(u_LightPosition - v_Position);
            float nDotL = max(dot(lightDirection,normal),0.0);//如果反射角大于90度，则该光线无法照射到该片元。
            vec3 diffuse = u_LightColor * v_Color.rgb * nDotL;
            vec3 ambient = u_AmbientLight * v_Color.rgb;
            gl_FragColor = vec4(diffuse + ambient, v_Color.a);
        }
    </script>
    <!-- 顶点着色器程序 -->
    <script id="shader-vs" type="x-shader/x-vertex">
        attribute vec4 a_Position;//顶点
        attribute vec4 a_Color;//颜色
        attribute vec4 a_Normal;//法向量
        uniform mat4 u_MvpMatrix;//投影矩阵
        uniform mat4 u_NormalMatrix;//法向量变换矩阵
        uniform mat4 u_ModelMatrix;//模型矩阵
        varying vec3 v_Position;
        varying vec4 v_Color;
        varying vec3 v_Normal;
        void main() {
            gl_Position = u_MvpMatrix * a_Position;
            v_Position = vec3(u_ModelMatrix * a_Position);
            v_Color = a_Color;
            v_Normal = normalize(vec3(u_NormalMatrix * a_Normal));
        }
    </script>
    <script src="/scripts/dist/webglCube02Main.js"></script>

</body>
</html>