<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cubeRecognize</title>
    <style>
        .cubeImg{
            width: 200px;
        }
    </style>
</head>
<body>
    <div> <img src="/img/cube2.jpg" class="cubeImg"></div>
    <canvas id="imgCanvas" width="500" height="500"></canvas>
    <script src="/scripts/dist/recognizeMain.js"></script>
</body>
</html>